<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>
    <title>Document</title>
</head>

<body>
    <div ng-app="myApp" ng-controller="ControllerName">

            <label>Enter fisrt name: <input type="text" data-ng-model="firstname"></label>

            <label>Enter last name: <input type="text" data-ng-model="lastname"></label>
        </div>

        <script>
            angular.module('myApp', [])
                .controller('ControllerName', ['$scope', function ($scope) {
                    $scope.firstname = 'Victor';
                    $scope.lastname = 'Marin';
                }]);
        </script>
</body>

</html>